@model CQRS.ViewModels.Event.EventCreateViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
 
<h1>Create Event</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div class="form-group">
                <label asp-for="ArabicTitle" class="control-label"></label>
                <input asp-for="ArabicTitle" class="form-control" />
                <span asp-validation-for="ArabicTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnglishTitle" class="control-label"></label>
                <input asp-for="EnglishTitle" class="form-control" />
                <span asp-validation-for="EnglishTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group mt-2 mb-2">
            <span>Select Photo Album</span>
              <select asp-for="PhotoAlbumID" 
                asp-items="@(IEnumerable<SelectListItem>)ViewBag.Albums">
                <option>Please select Photo Album</option>
            </select>
            </div >
            <div class="form-group mt-2 mb-2">
            <span>Select Source</span>
              <select asp-for="SourceID" 
                asp-items="@(IEnumerable<SelectListItem>)ViewBag.Sources">
                <option>Please select Source</option>
            </select>
            </div >
            <div class="form-group mt-2 mb-2">
            <span>Select Cover Photo</span>
            @foreach (var gender in ViewBag.Photos)
            {
                <input type="radio" asp-for="CoverPhotoID" value="@gender.Value" /><img width="100px" height="100px" src="~/photos/@gender.Text" asp-append-version="true"><br />
            }              
            </div>
            <div class="form-group mt-2 mb-2">
            <span>Select Categories</span>
            @Html.ListBoxFor(m => m.Categories,
                              new MultiSelectList(ViewBag.Categories, "Value", "Text")
                            , new { @class = "chzn-select", data_placeholder = "Categories..." })
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a href="index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

